
@{
    ViewBag.Title = "Weather Or Not";
}

<h2>WeatherJS</h2>

@* Replace with Knockout *@
@*<p id="name"></p>
<p id="temp"></p>
<p id="humidity"></p>*@

<div class="col-md-12">
    <h1>Current Conditions in <span data-bind="text:name"></span></h1>
</div>

<div class="col-md-12">
    Temperature is <span data-bind="text:main.temp"></span>&deg; F
</div>

<div class="col-md-12">
    Humidity is <span data-bind="text:main.humidity"></span>%
</div>

<div class="col-md-12">
    Wind speed is <span data-bind="text:wind.speed"></span>mph
</div>

@* Removed  along with click function below to automatically show weather when page is ready *@
@*<button>Get Weather</button>*@ 

<script>
    var weather = Object();
    $(document).ready(function () {
        //$("button").click(function () {
            $.get("@Url.Action("GetWeather","Home")", function (response) {
                //response
                console.log(response);

                //Replace with Knockout
                //$("#name").text(response.name);
                //$("#temp").text(response.main.temp);
                //$("#humidity").text(response.main.humidity);
                
                weather = ko.mapping.fromJS(response); //populate the weather object
                ko.applyBindings(weather);

            });
        //});
    });
</script>